<section class="section hero py-5">
    <div class="container">
      <div class="row flex-column flex-xl-row-reverse">
        <div class="col-12 col-xl-6  d-flex flex-column justify-content-center hero-image">
          
    <img class="img-fluid" src="/assets/img/hero-image.png" alt="assets/img/hero-image.png" width="1772" height="1773">
  
  
        </div>
        <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
          
            <h3 class="hero-title fw-bold display-1 text-primary text-center text-xl-start pb-4">Reduce <strong>Customer Churn</strong> for your business</h3>
          
          
            <p class="text-center text-black-61 text-xl-start pb-4">Leverage the power of machine learning and predictive analytics to identify at-risk customers and take proactuve steps to retain</p>
          
          <div class="d-flex flex-column flex-xl-row">
            
              <a class="btn btn-primary text-light px-4 my-1" href="https://forms.gle/etm2DtonprVe1qA48">Take our survey</a>
            
            
              <a class="btn btn-outline-primary px-4 my-1 ms-xl-4" href="https://cal.com/ashishmishra">Let's talk<span class="ms-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
  </svg>
  </span></a>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  